pygments
scipy
numpy
sklearn
plotly
pandas
matplotlib
ipython
jupyterlab
tqdm
rpy2
ipympl
seaborn
tzlocal
nimfa
diskcache
pyfaidx
BioPython
scikit-fusion
h5py
cmapPy
xlrd
pyensembl
lxml
sqlalchemy
psycopg2-binary
sqlalchemy_utils
sqlalchemy_schemadisplay
inflect
numba
snakeviz
scikit-plot
git+https://github.com/althonos/pronto.git
pytest
